ipython>=8.10
jupyterlab>=3.0
notebook
jupytext>=1.16
kedro[jupyter]~=1.2.0
kedro-datasets[pandas-csvdataset,pandas-exceldataset,pandas-parquetdataset,plotly-plotlydataset,plotly-jsondataset,matplotlib-matplotlibdataset]>=3.0
kedro-viz>=6.7.0
pandas>=2.2
numpy>=1.26
scikit-learn==1.5.2
xgboost==2.1.4
optuna==4.1.0
matplotlib>=3.8
seaborn>=0.12.1
scipy>=1.12
joblib>=1.4
requests>=2.32
shap>=0.46
